<footer class="footer-distributed">


    <section class="footer-left">
        <h3>NDW</h3>
        <ul>
            <li><a href="/about"> ABOUT</a></li>
            <li><a href="/contact"> CONTACT</a></li>
            <li><a href=""> DIRECTORY</a></li>

        </ul>
        <h6>NDW © 2020</h6>

    </section>
    <!-- <sec class="footer-center">b</sec> -->
    <section class="footer-right">
        <h3>SOCIAL MEDIA</h3>
        <ul>
            <li>
                <a class="instagram" href=""> </a>
            </li>
            <li>
                <a class="youtube" href=""> </a>
            </li>
            <li>
                <a class="facebook" href=""> </a>
            </li>

        </ul>

    </section>



</footer>