<header class="header">
    <div class="navigation-bar">
        <div id="navigation-container">
            <a href="/"> <img src="/public/img/LOGO.png" alt="logo"> </a>



            <nav>




                <ul>
                    <li> <a href='/'>Home</a> </li>
                    <li><a href='/connections'>Connections</a> </li>
                    <%if(user) {%>

                        <li> <a href='/connections/NewConnections'>Create New Connection</a> </li>
                        <li> <a href='/connections/SavedConnections'>Saved Connections</a></li>
                        <li> <a href='/users/Logout'>Log out</a> </li>
                        <%} else {%>
                            <li> <a href='/users/SignUp'>Sign Up</a></li>
                            <li> <a href='/users/Login'>Login</a> </li>
                            <%}%>
                </ul>









            </nav>

        </div>
        <div class="site-name-holder">
            <h1 class="site-name">Niner Design Week</h1>
        </div>
        <section class="page-name">
            <h1>
                <%= title %>
            </h1>

            <div class="welcomeNote">
                <% if(user !== null){ %>

                    <h1>
                        welcome
                        <%= user.name%>
                    </h1>
                    <% }else{ %>
                        <h1>
                            welcome Guest
                        </h1>


                        <% } %>



            </div>


        </section>
    </div>
</header>