<%- include('./partials/head.ejs') %>

    <body>

        <!-- ```````````````````````HEADER```````````````````````  -->

        <%- include('./partials/header.ejs') %>



            <!-- ```````````````````````BODY```````````````````````  -->



            <section class="body">
                <span class="aboutPage">
            <h1>Welcome to Niner Design Week Website</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At <br>
                mollitia quae tenetur assumenda iusto eligendi a alias vero
                br <br> beatae harum accusantium eos natus, temporibus officia, iure
                dolores distinctio sint? Blanditiis.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At <br>
                mollitia quae tenetur assumenda iusto eligendi a alias vero
                br <br> beatae harum accusantium eos natus, temporibus officia, iure
                dolores distinctio sint? Blanditiis.</p>




        </span>
            </section>


            <!-- ```````````````````````FOOTER```````````````````````  -->


            <%- include('./partials/footer.ejs')  %>

    </body>

    </html>