<%- include('./partials/head.ejs') %>

    <body>

        <!-- ```````````````````````HEADER```````````````````````  -->

        <%- include('./partials/header.ejs') %>



            <!-- ```````````````````````BODY```````````````````````  -->



            <section class="body">

                <span class="contactPage">
            <h1>Contact us </h1>
            <p> Address: UNCC Student Union Charlotte NC</p>
            <p> Phone : 980 111 22 33</p>
            <p> Email : info@uncc.edu </p>



        </span>
            </section>


            <!-- ```````````````````````FOOTER```````````````````````  -->


            <%- include('./partials/footer.ejs')  %>

    </body>

    </html>