<%- include('./partials/head.ejs') %>

    <body>

        <!-- ```````````````````````HEADER```````````````````````  -->

        <%- include('./partials/header.ejs') %>



            <!-- ```````````````````````BODY```````````````````````  -->



            <section class="body">
                <h1>404

                </h1>
            </section>


            <!-- ```````````````````````FOOTER```````````````````````  -->


            <%- include('./partials/footer.ejs')  %>

    </body>

    </html>