<%- include('./partials/head.ejs') %>


    <body>
        <!-- ```````````````````````HEADER```````````````````````  -->


        <%- include('./partials/header.ejs') %>


            <%- include('./partials/messages.ejs')%>
                <!-- ```````````````````````BODY```````````````````````  -->


                <section class="body">
                    <section class="sec1"></section>
                    <section class="imagestiles">
                        <figure>

                            <img class="fig-img" src="./public/img/NameHandle1.jpg" alt="connection image">
                            <figcaption> CONNECT </figcaption>

                        </figure>
                        <figure>

                            <img class="fig-img" src="./public/img/NameHandle2.jpg" alt="connection image">
                            <figcaption> EXPLORE </figcaption>

                        </figure>
                        <figure>

                            <img class="fig-img" src="./public/img/NameHandle3.jpg" alt="connection image">
                            <figcaption> LEARN </figcaption>

                        </figure>
                    </section>
                </section>


                <section class="sec2">
                    <h1> Niner Design Week</h1>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quia dolore nesciunt eaque sed architecto sunt eius temporibus dignissimos debitis it aque culpa. Velit molestiae, repellat magnam ipsam officiis commodi quia! Lorem
                        ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quia dolore nesciunt eaque sed architecto sunt eius temporibus dignissimos debitis it aque culpa. Velit molestiae, repellat magnam ipsam officiis commodi quia! sit amet
                        consectetur adipisicing elit. Deserunt, quia dolore nesci.

                    </p>
                </section>


                <!-- ```````````````````````FOOTER```````````````````````  -->

                <%- include('./partials/footer.ejs')  %>


    </body>

    </html>